body { 
    font-family: 'poppins', sans-serif;
    }

    header {
        font-weight: 700;
        height: 100px;
    }

    .container {
      display: flex;
      justify-content: space-between;
        font-size: 2.8rem;
        margin-left: 25px;
        margin-right: 25px;
        text-shadow: -2px 1px #BBF5F8;
    }
    
    .imagea {
        display: flex;
        justify-content: end;
        box-sizing: border-box;
        background-image: url(images/square.jpg);
        width: 350px;
        height: 350px;
        background-size: cover;
    }
    
    .colora {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        box-sizing: border-box;
        margin-right: 5%;
        margin-left: 75%;
        width: 360px;
        height: 350px;
        background-size: cover;
        border-left: #f5c66fc9 solid 15px;
    }

    a {
       text-decoration: none;
         color: #0798BA;
    }
    
    h1 {
        margin-bottom: 2px;
        border-bottom: solid 5px #FFAE1A;
    }
    
    .toptext {
        padding-top: 5px;
    }
    
    #about {
        align-content: center;
        margin-left: 10%;
        margin-right: 25%;
        width: 30%;
    }
    
    #education {
        align-content: center;
        text-align: right;
        margin-left: 60%;
        margin-right: 25%;
        margin-top: 10%;
        width: 30%;
    }
    
    .imageb {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        box-sizing: content-box;
        width: 360px;
        height: 350px;
        margin-right: -15px;
        border-right: #f5c66fc9 solid 15px;
    }

    .colorb {

        display: flex;
        justify-content: start;
        box-sizing: border-box;
        background-image: url(images/image2.jpg);
        margin-right: 55%;
        margin-left: 5%;
        width: 350px;
        height: 350px;
        background-size: cover;
        
    }

    #contact {
        align-content: center;
        margin-left: 10%;
        margin-right: 25%;
        margin-top: 10%;
        width: 30%;
    }
    
    #footer {
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    .row {
        padding: 15px;
        height: 75px;
    }
    
    img {
         max-width: 75px;
        max-height: 75px;
    }


    @media only screen and (max-width: 600px) {
        
        .container {
            font-size: 1.6rem;
            gap: 5%;
        }

        h1 {
            margin-bottom: 2px;
            border-bottom: solid 5px #FFAE1A;
        }
        
        .toptext {
            padding-top: 15px;
        }
        
        #about {
            align-content: center;
            margin-left: 10%;
            margin-right: 25%;
            width: 80%;
        }
        
        .imagea {
            display: none;
        }
        
        .colora {
            display: none;
        }

        #education {
            align-content: center;
            text-align: right;
            margin-left: 40%;
            margin-right: 25%;
            margin-top: 10%;
            width: 80%;
        }
        
        .imageb {
            display: none;
        }
    
        .colorb {
    
            display: none;
            
        }
        
        #contact {
            align-content: center;
            margin-left: 10%;
            margin-right: 25%;
            margin-top: 10%;
            width: 70%;
        }
        
        #footer {
            display: flex;
            justify-content: center;
            margin-top: 2%;
            width: 450px;
        }
    
        .row {
            gap: 15px;
            height: 75px;
            
        }
        
        img {
             max-width: 75px;
            max-height: 75px;
        }
    }
